app/book/book.html
<div class="container"><div class="col-sm-3 col-md-3 col-lg-3"></div><div class="col-sm-6 col-md-6 col-lg-6"><div class="row"><div class="input-field"><input id="search" type="text" ng-model="searchString" placeholder="Enter your search terms" class="validate"/><label for="search">Search</label></div></div><div class="row"><ul class="collection"><li ng-repeat="i in items | filter: searchString" class="colection-item avatar"><i class="medium material-icons circle">account_box</i><span class="title">{{i.Name}}</span><p>{{i.Telephone}}<br/>Sevatec</p><a href="#!" class="secondary-content"><i class="material-icons">grade</i></a></li></ul></div></div><div class="col-sm-3 col-md-3 col-lg-3"></div></div>

app/book/book.jade
.container
    .col-sm-3.col-md-3.col-lg-3
    .col-sm-6.col-md-6.col-lg-6
        .row
            .input-field
                input#search.validate(type='text', ng-model='searchString', placeholder='Enter your search terms')
                label(for='search') Search
        .row
            ul.collection
                li.colection-item.avatar(ng-repeat="i in items | filter: searchString")
                    i.medium.material-icons.circle account_box
                    span.title {{i.Name}}
                    p
                        | {{i.Telephone}}
                        br
                        | Sevatec
                    a.secondary-content(href='#!')
                        i.material-icons grade
    .col-sm-3.col-md-3.col-lg-3
